<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
</head>

<body>

    <div class="navbar navbar-inverse" role="navigation" style="background-color: bisque;">
        <div class="container-fluid" style="margin-left: 35%;">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/" style="margin-left: 55%;color: black;"> 1MinPitch </a>
                <br>
            </div>
            <div class="navbar-collapse collapse">
                <br><br><br>
                <ul class="nav navbar-nav">
                    <li><a href="/" style="color: black;">Home</a></li>
                    <li><a href="/profile" style="color: black;">Profile</a></li>
                    <li><a href="/pitch/new" style="color: black;">Add Pitch</a></li>
            </div>
        </div>
    </div>
</body>

</html>