{% extends 'base.html'%}
{% import "bootstrap/wtf.html" as wtf %}


{% block navbar %}
{% include 'navbar.html' %}
{% endblock %}

{% block content %}

<div class="container" style="margin: 4% 5% 5% 5%">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <form method="POST">
            <h4 style="background-color: aquamarine;">Welcome to Pitch! Register below </h4>
            {{ reg_form.csrf_token() }}
            {{ wtf.quick_form(reg_form) }}
        </form>
    </div>
    <div class="col-md-4">
    </div>

</div>

{% endblock %}